GROQ_API_KEY="groq api key as primary"
GROQ_FALLBACK_API_KEY="groq api key as fallback use diffent account and create api key use that here"

QDRANT_API_KEY="Qdrant api key->create api key in qdrant"
QDRANT_CLUSTER_END_POINT="create one cluster in qdrant use that endpoint here"

GEMINI_API_KEY="gemini api key google aistudio.com ->create api key"

# === Observability

# Pydantic Logfire Observability
LOGFIRE_TOKEN ="logfire token->use for observability"
# Portkey LLM Gateway
PORTKEY_API_KEY = "portkey api key"
PORTKEY_CONFIG_SLUG ="portkey dshboard ->config->create config file and name the file save -> save that name and paste here"

# LANGSMITH 

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY="langsmith api key"
LANGSMITH_PROJECT="langsmith project name (langsmith->tracing->createproject name)"

JUDGE_GROQ="judge groq key"

